<div class="card shadow-sm">
  <div class="card-body">

    <h4 class="mb-2">Resend Confirmation Email </h4>
    <p class="mb-4">
      Enter your email address and we’ll resend the confirmation link.
    </p>

    <form action="{{ url_for('auth.resend_email') }}" method="post">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", placeholder="example@email.com") }}

        {% for error in form.email.errors %}
          <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="mb-3">
        <button type="submit"
                class="btn btn-outline-primary rounded-pill w-100">
          Resend Email
        </button>
      </div>
    </form>

    <div class="text-center">
      <a href="javascript:void(0)"
         onclick="loadAuth('login')">
        Back to login
      </a>
    </div>

  </div>
</div>
