{% extends "layout.html" %}
{% block title %}Order History - SmartEats {% endblock %}
{% block content %}
<div class="order-list">
        <button type="submit" style="background-color: antiquewhite;" class="btn btn-outline-secondary rounded-pill" onclick="window.location.href='{{ url_for('main.myorders')}}'">Active/Pending Orders</button>
        <button style="background-color: antiquewhite;" onclick="window.location.href='{{ url_for('main.completed_order') }}'" class="btn btn-outline-secondary rounded-pill">Order History</button>
        <button style="background-color: antiquewhite;" class="btn btn-outline-secondary rounded-pill" onclick="window.location.href='{{ url_for('main.cancelled_orders')}}'">Cancelled Order</button>
 </div>
   <section class="order-list" id="active-orders">

            {%for order in orders%}
            <div class="order-card">
                <h3>Order ID: {{order.order_id}}</h3>

                <p>Dest: {{order.location}}</p>
                <p>Order Date:{{order.create_at.strftime('%Y - %m - %d @ %H:%M')}}</p>
            </div>
            {%endfor%}
            <!-- Repeat order-card for more orders -->
        </section>
{% endblock %}