{% extends "layout.html" %}
{% block title %}Cartlist - SmartEats {% endblock %}
{% block content %}
<div class="containerr">


    <div class="cart">
        <div class="product-card">
<h4>Payment Codes</h4>
        <p>Mpesa Till/Number: {{store.mpesa_shortcode}}</p>
        <p>Ecocash Till/Number: {{store.ecocash_short_code}}</p>
</div>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
            </thead>
            {%for items in cart.cart_items%}
            <tbody id="cart-items" style="background-color: aliceblue;">
                        <td>{{items.product.productname}}</td>
            <td>M{{items.product.price}}</td>
            <td>{{items.quantity}}</td>
            <td>
            <button onclick="window.location.href='{{ url_for('main.remove_from_cart',item_id=items.id)}}'"
                        class="btn btn-outline-secondary rounded-pill"><i class="fas fa-trash"></i></button>
            </td>
            </tbody>
            {%endfor%}
        </table>
    </div>

        <div class="product-card">
                    <p>Total Price: <b id="total-price">M{{total_amount}}</b></p>
                    <p class="alert" style="color:red;"> If you need to use delivery agent, add M6.00 extra to the amount payable as to avoid your order from being delayed. </p>
    <form action="{{url_for('main.addorder',total_amount=total_amount)}}"  method="POST" enctype="multipart/form-data">
        {{ form3.hidden_tag() }}
        <div class="form-group">
            {{form3.payment.label}}
            {{form3.payment(class='form-control')}}
        </div>
        <br>
        <div class="form-group">
            {{form3.payment_number.label}}
            {{form3.payment_number(class='form-control ')}}
        </div>
        <br>


        <div class="form-group">
            {{ form3.deliverymethod.label }}
            {% for subfield in form3.deliverymethod %}
                <div class="form-check">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-control outline-success") }}
                </div>
            {% endfor %}
        </div>

        <br>
        <div class="form-group">
            {{form3.drop_address.label}}
            {{form3.drop_address(class='form-control')}}
        </div>
        <br>
        <div class="form-group">
            {{form3.payment_screenshot.label}}
            {{form3.payment_screenshot(class='form-control')}}
        </div>
        <br>
    <div class="button-container" style="align-items:center;">
        <!-- Shop Button -->
        <button type="submit" class= 'btn btn-outline-success rounded-pill'
            onclick="window.location.href='{{ url_for('main.addorder', total_amount=total_amount)}}'">Add Order
        </button>
    </div>
    </form>
    </div>
 
    </div>
</div>
{% endblock %}