{% extends "adminslayout.html" %}
{% block title %}Registered Users {% endblock %}
{% block content %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7054933627312511"
     crossorigin="anonymous"></script>

    <table border="1">
        <thead>
            <tr>
                
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {%if not users%}
    <p>You have no registered users.</p>
        {%else%}
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endif%}

{%endblock%}

