{% extends "adminlayout.html" %}
{% block title %} Register Delivery Personnel - SmartEats {% endblock %}
{% block content %}
<div class="container">
    <h1>Register Delivery Personnel</h1>
    <!-- Product Add Form -->
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }} <!-- This is for CSRF protection -->
        <div class="form-group">
            {{form.names.label}}
            {{ form.names(class="form-control") }}
        </div>
        <!-- Product Price -->
        <div class="form-group">
            {{form.email.label}}
            {{ form.email(class="form-control") }}
        </div>
        <!-- Product Description -->
        <div class="form-group">
            {{form.phone.label}}
            {{ form.phone(class="form-control") }}
        </div>
        <!-- Product Image -->
        <div class="form-group">
            {{form.password.label}}
            {{ form.password(class="form-control") }}
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-outline-primary rounded-pill">Submit</button>
    </form>
    <!-- Back to Products Page -->
</div>
{%endblock%}

