{% extends "adminlayout.html" %}
{% block title %} {{store.name}} Add New Staff - SmartEats {% endblock %}
{% block content %}

<div class="container">
    <h1>Add Staff Member</h1>
    <!-- Product Add Form -->
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }} <!-- This is for CSRF protection -->
        <div class="form-group">
            {{form.names.label}}
            {{ form.names(class="form-control") }}
        </div>
        <!-- Product Price -->
        <div class="form-group">
            {{form.email.label}}
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
            {{form.role.label}}
            {{ form.role(class="form-control") }}
        </div>
      <div class="form-group">
            {{form.password.label}}
            {{ form.password(class="form-control") }}
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-outline-success rounded-pill">Add staff</button>
    </form>

    <!-- Back to Products Page -->

</div>

{%endblock%}

