{% extends "adminlayout.html" %}
{% block title %}{{store.name}} Pending and Active Orders- SmartEats {% endblock %}
{% block content %}

<section class="orders-section">
        <button onclick="window.location.href='{{ url_for('store.ready_orders') }}'" class="btn btn-outline-primary rounded-pill">Ready Orders</button>
        <button onclick="window.location.href='{{ url_for('store.approved_orders') }}'" class="btn btn-outline-primary rounded-pill">On Delivery</button>


<div class="order-list">
          <h2>Approved Orders</h2>
    {%if not readyorders%}
    <p>There are no approved orders.</p>
    {%else%}
     
                {%for order in readyorders%}
                   <div class="order-card">
                        {{order.order_id}}
                      
                        {{order.status}}
                     <form action="{{url_for('store.updatestatus', order_id=order.id)}}" method="POST">
                       {{ form.hidden_tag() }}
                      {{form.status(class='form-control')}}
                      {{form.submit(class='btn')}}
                    </form>
              
                        {{order.create_at.strftime('%Y - %m - %d @ %H:%M') }}
                   
                    {{order.payment}}
                        {{order.transactionID}}
                        
                          {{order.user.email}}
                        
                       {{order.location}}
                      
                          <button class="btn bg-success " onclick="window.location.href='{{url_for('store.userorders', order_id=order.id)}}'">
                              View Details
                          </button>
                   </div>
                {%endfor%}
        
    {%endif%}
</div>
        </section>

{%endblock%}