{% extends "adminlayout.html" %}
{% block title %} update product {% endblock %}
{% block content %}

<div class="container">
    <!-- Product Add Form -->
    <form method="POST" enctype="multipart/form-data" style="padding:20px;">
        {{ form.hidden_tag() }} <!-- This is for CSRF protection -->

        <!-- Product Name -->
        <div class="form-group">

            {{form.ecocode.label}}
            {{ form.ecocode(class="form-control") }}
            {{form.econame.label}}
             {{form.econame(class="form-control")}}
        </div>

        <!-- Product Price -->
        <div class="form-group">
            {{form.mpesacode.label}}
             
            {{ form.mpesacode(class="form-control") }}
            {{form.mpesaname.label}}
            {{form.mpesaname(class="form-control")}}
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-outline-success rounded-pill">Update</button>
    </form>
</div>
{%endblock%}


