{% extends "layout.html" %}
{% block title %}Register your Store - SmartEats{% endblock %}

{% block content %}
<div class="card">
    <div class="text-center mb-4">
    <h4>Store Registration</h4>

    <p class="text-muted">Fill in the details below to register your store.</p>

</div>
            <div class="card-body">
              <!-- Logo -->
              
              <!-- /Logo -->
              <h4 class="mb-2">This is a good start.</h4>
              <p class="mb-4">Reach more customers today. Increase sales hussle free.</p>
              <form id="formAuthentication" class="mb-3" action="{{url_for('auth.registerstore')}}" method="POST">
                <div class="mb-3">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                {{ form.storename.label(class="form-label") }}
                {{ form.storename(class="form-control", placeholder="My Store Name") }}

                 {% for error in form.storename.errors %}
                <small class="text-danger">{{ error }}</small>
                {% endfor %}
                </div>

            <div class="mb-3">
              {{ form.email.label(class="form-label") }}
              {{ form.email(class="form-control", placeholder="user@mail.com") }}

              {% for error in form.email.errors %}
                <small class="text-danger">{{ error }}</small>
              {% endfor %}
            </div>
            <div class="mb-3">
              {{ form.phone.label(class="form-label") }}
              {{ form.phone(class="form-control", placeholder="+266 1234 5678") }}

              {% for error in form.phone.errors %}
                <small class="text-danger">{{ error }}</small>
              {% endfor %}
            </div>
            <div class="mb-3">
              {{ form.opening_hours_and_days.label(class="form-label") }}
              {{ form.opening_hours_and_days(class="form-control", placeholder="08:30 to 21:00") }}

              {% for error in form.opening_hours_and_days.errors %}
                <small class="text-danger">{{ error }}</small>
              {% endfor %}
            </div>
            <div class="mb-3">
              {{ form.town.label(class="form-label") }}
              {{ form.town(class="form-control", placeholder="eg. Maputsoe, Ha Maqele") }}

              {% for error in form.town.errors %}
                <small class="text-danger">{{ error }}</small>
              {% endfor %}
            </div>
            <div class="mb-3">
              {{ form.district.label(class="form-label") }}
              {{ form.district(class="form-control") }}

              {% for error in form.district.errors %}
                <small class="text-danger">{{ error }}</small>
              {% endfor %}
            </div>
            <div class="mb-3">
              {{ form.password.label(class="form-label") }}
              {{ form.password(class="form-control", placeholder="************") }}

              {% for error in form.password.errors %}
                <small class="text-danger">{{ error }}</small>
              {% endfor %}
            </div>
                <button class="btn btn-success d-grid w-100">Submit</button>
              </form>
            </div>
          </div>
{% endblock %}
